In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('/content/drive/MyDrive/baseballdatabank-master/core/lahmansbaseballdb.sqlite')

In [6]:
most_hr = pd.read_sql(
"""
SELECT  
    playerID,
    teamID,
    yearID,
    MAX(HR)
FROM batting
""", 
    con= conn
)

most_hr

    playerID teamID  yearID  MAX(HR)
0  bondsba01    SFN    2001       73